 body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.ant-progress-circle .ant-progress-text{
  color: orange;
  font-size: 0.5rem;
}



.tctipsbox{
  box-sizing: border-box;
  width:8rem;
  height: 4rem;
  background: #fff;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -4rem;
  margin-top: -2rem;
  border-radius:.2rem;
  padding:0.5rem;
  padding-bottom: 0;
}
.tctipsbox h3{
    width:100%;
    text-align: center;
    font-size: .56rem;
    color: #333;
}
.tctipsbox .welcome{
  width:100%;
  text-align: center;
  padding-bottom: 0.3rem;
}
.tcbtnbox{
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-around;
}
.tcbtnbox p{
  text-align: center;
  width: 50%;
  font-size: .48rem;
  border-radius: .08rem;
  height: 1.3rem;
  line-height: 1.3rem;
  color:skyblue;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.section{
    background: #fff;
}

.yanz{
	display:inline-block;
	width: 80px;
	height: 34px;
	border:1px solid #ccc; 
	text-align:center;
	line-height:34px;
	color:#688af0;
}
.fa-chevron-down{
	display: inline-block;
	width: 12px;
	height: 12px;
	color: #fff;
}
